html,
  body{
    font-family: 'RocknRoll One', sans-serif;
  }


.doneitem{
    padding: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.doneitemtext {
  width: 80%;
  word-break: break-all;
  padding-left: 10px;
  font-size: 18px;
  color: black;
}

.doneitemicons{
  display: flex;
}

.doneitemiconsdone{
  margin: 0 5px;
}
.fa-check-circle{
  color: greenyellow;
}

form input,
form button {
     padding: 0.5rem;
     font-size: 2rem;
     border: none;
     background: white;
}


form button {
     color: black;
     background: white;
     cursor: pointer;
     transition: all 0.3s ease;
}


form button:hover {
     background: blue;
     color: white;
}

.text-name{
    display:flex;
}
.addon{
    padding-right: 2rem;
    text-align: center;
    padding-top: 5px;
}
.todo-input{
    padding:5px;
    border-radius:5px;
}

.doneitem{
    background:rgba(92, 156, 216, 0.6);
}

.bar-status{
  flex: 1;
}

.scroll{
    max-height: auto;
    overflow-y: auto;
}
